version: 2
jobs:
  "test":
    docker:
      - image: docker.io/golang:1.17.0
    steps:
      - checkout
      - run:
          name: Test
          command: make test
  "images":
    docker:
      - image: cimg/base:stable
    resource_class: large
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.12
      - run:
          name: Prepare env
          command: |
            docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
            docker context create dk-env
            docker buildx create dk-env --driver docker-container --use
            echo ${DOCKERHUB_SECRET} | docker login -u ${DOCKERHUB_USER} --password-stdin
            sudo apt update
            sudo apt install make bash git
      - run:
          name: Build and Push all docker images
          command: |
            GIT_BRANCH="$CIRCLE_BRANCH" GIT_TAG="$CIRCLE_TAG" make push/all
      - run:
          name: Push latest images
          command: |
            if [ -n "$CIRCLE_TAG" ]
            then
              GIT_BRANCH="$CIRCLE_BRANCH" GIT_TAG="$CIRCLE_TAG" make push/latest
            else
              echo "Skipping (no git tag)"
            fi
  "release":
    docker:
      - image: circleci/golang:1.17
    steps:
      - checkout
      - run:
          name: Install goreleaser
          command: |
            echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
            sudo apt update
            sudo apt install goreleaser
      - run:
          name: Release
          command: GIT_TAG="$CIRCLE_TAG" make release
workflows:
  version: 2
  build:
    jobs:
      - "test":
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
      - "images":
          context: falco
          filters:
            branches:
              only:
                - master
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
          requires:
            - "test"
      - "release":
          context: falco
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
          requires:
            - "test"
            - "images"
