name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write # needed to write releases
  id-token: write # needed for keyless signing

jobs:
  build-test-release:
    strategy:
      matrix:
        arch: [amd64, arm64]
    uses: ./.github/workflows/reusable_build_test_driverkit.yml
    with:
      arch: ${{ matrix.arch }}

  push-images-release:
    needs: build-test-release
    strategy:
      matrix:
        arch: [amd64, arm64]
    uses: ./.github/workflows/reusable_build_push_images.yml
    with:
      arch: ${{ matrix.arch }}
      tag: ${{ github.ref_name }}
      is_latest: true
      push: true
    secrets: inherit  

  images-release:
    needs: push-images-release
    uses: ./.github/workflows/reusable_manifest_images.yml
    with:
      tag: ${{ github.ref_name }}
      is_latest: true
    secrets: inherit

  release:
    needs: images-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Fetch
        run: git fetch --prune --force --tags

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: 'go.mod'
      
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          install-only: true

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_TAG: ${{ github.ref_name }}
        run: make release  
