# This is a reusable workflow used by master and release CI
on:
  workflow_call:
    inputs:
      arch:
        description: amd64 or arm64
        required: true
        type: string
      branch:
        description: name of the branch
        required: false
        type: string
        default: 'master'
      tag:
        description: The tag to use (e.g. "master" or "0.35.0")
        required: false
        type: string
        default: ''
      is_latest:
        description: Update the latest tag with the new image
        required: false
        type: boolean
        default: false
      push:
        description: Whether to also push images
        required: false
        type: boolean
        default: false

jobs:
  build-images:
    runs-on: ${{ (inputs.arch == 'arm64' && 'github-arm64-2c-8gb') || 'ubuntu-latest' }}
    env:
      GIT_BRANCH: ${{ inputs.branch }}
      GIT_TAG: ${{ inputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        
      - name: Create download folder
        run: mkdir -p build-${{ inputs.arch }}
        
      - name: Download Driverkit
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: driverkit-${{ inputs.arch }}
          path: build-${{ inputs.arch }}
          
      - name: Enforce executable bit
        run: chmod +x build-${{ inputs.arch }}/driverkit
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0
          
      - name: Login to Docker Hub
        if: inputs.push
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_SECRET }}
          
      - name: Build and Push docker images
        if: inputs.push
        run: make push/all

      - name: Build docker images
        if: inputs.push == false
        run: make image/all

      - name: Push latest images if needed
        if: inputs.push && inputs.is_latest
        run: make push/latest
