# This is a reusable workflow used by master and release CI
on:
  workflow_call:
    inputs:
      arch:
        description: amd64 or arm64
        required: true
        type: string
      branch:
        description: name of the branch
        required: false
        type: string
        default: 'master'
      tag:
        description: The tag to use (e.g. "master" or "0.35.0")
        required: false
        type: string
        default: ''
      is_latest:
        description: Update the latest tag with the new image
        required: false
        type: boolean
        default: false
      push:
        description: Whether to also push images
        required: false
        type: boolean
        default: false

jobs:
  build-images:
    runs-on: ${{ (inputs.arch == 'arm64' && 'ubuntu-22.04-arm') || 'ubuntu-22.04' }}
    env:
      GIT_BRANCH: ${{ inputs.branch }}
      GIT_TAG: ${{ inputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        
      - name: Create download folder
        run: mkdir -p build-${{ inputs.arch }}
        
      - name: Download Driverkit
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: driverkit-${{ inputs.arch }}
          path: build-${{ inputs.arch }}
          
      - name: Enforce executable bit
        run: chmod +x build-${{ inputs.arch }}/driverkit
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
          
      - name: Login to Docker Hub
        if: inputs.push
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_SECRET }}
          
      - name: Build and Push docker images
        if: inputs.push
        run: make push/all

      - name: Build docker images
        if: inputs.push == false
        run: make image/all

      - name: Push latest images if needed
        if: inputs.push && inputs.is_latest
        run: make push/latest
