# This is a reusable workflow used by master and release CI
on:
  workflow_call:
    inputs:
      branch:
        description: name of the branch
        required: false
        type: string
        default: 'master'
      tag:
        description: The tag to use (e.g. "master" or "0.35.0")
        required: false
        type: string
        default: ''
      is_latest:
        description: Update the latest tag with the new image
        required: false
        type: boolean
        default: false

jobs:
  push-manifest:
    runs-on: ubuntu-latest
    env:
      GIT_BRANCH: ${{ inputs.branch }}
      GIT_TAG: ${{ inputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
          
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_SECRET }}
          
      - name: Build and Push manifest to registry
        run: make manifest/all
      
      - name: Push latest manifest if needed
        if: inputs.is_latest
        run: make manifest/latest
