# This is a reusable workflow used by master and release CI
on:
  workflow_call:
    inputs:
      arch:
        description: amd64 or arm64
        required: true
        type: string

jobs:
  build-test:
    # See https://github.com/actions/runner/issues/409#issuecomment-1158849936
    runs-on: ${{ (inputs.arch == 'arm64' && 'ubuntu-22.04-arm') || 'ubuntu-22.04' }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: make build
        
      - name: Test
        run: make test
        
      - name: Set integration tests DRIVERVERSIONS env
        if: inputs.arch == 'amd64'
        run: echo "DRIVERVERSIONS=master 6.0.1+driver 2.0.0+driver 17f5df52a7d9ed6bb12d3b1768460def8439936d" >> $GITHUB_ENV
        
      - name: Set integration tests DRIVERVERSIONS env
        if: inputs.arch == 'arm64'
        run: echo "DRIVERVERSIONS=master 6.0.1+driver 2.0.0+driver" >> $GITHUB_ENV
      
      - name: Integration tests
        run: make integration_test
        
      - name: Upload driverkit
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: driverkit-${{ inputs.arch }}
          path: |
            ${{ github.workspace }}/_output/bin/driverkit
